@charset "UTF-8";
@font-face {
  font-family: "recipekorea";
  src: local("recipekorea"), url("../font/Recipekorea 레코체 FONT.otf") format("opentype"), url("../font/Recipekorea 레코체 FONT.ttf") format("truetype");
}
@font-face {
  font-family: "crunch chips";
  src: local("crunch chips"), url("../font/Crunch Chips.otf") format("opentype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  color: black;
}

ul, ol, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

strong {
  display: block;
}

header,
nav,
main,
article,
section,
aside,
footer {
  display: block;
}

header .wave {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 170vw;
  overflow: hidden;
  background: radial-gradient(ellipse at center, #ceecf7 0%, #a6e5fa 35%, #5AB9D9 100%);
}
@media only screen and (min-width: 1024px) {
  header .wave {
    height: 1000px;
  }
}
header .wave canvas {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 10%;
}
@media only screen and (min-width: 1024px) {
  header .wave canvas {
    height: 1350px;
  }
}
header .wave .box {
  position: absolute;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
}
header .wave .box .sun {
  position: absolute;
  z-index: 8;
  background: yellow;
  top: 30%;
  right: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 15px #ffff66;
  animation: pulse 2s infinite;
}
@media only screen and (min-width: 1024px) {
  header .wave .box .sun {
    top: 30%;
    left: 30%;
  }
}
header .wave .box .sun .face {
  position: absolute;
}
header .wave .box .sun .face:before, header .wave .box .sun .face:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background: #000000;
  border-radius: 50%;
  z-index: 5;
}
header .wave .box .sun .face:before {
  top: 20px;
  left: 60px;
}
header .wave .box .sun .face:after {
  top: 20px;
  left: 100px;
}
header .wave .box .sun .face .smile {
  position: absolute;
  top: 27px;
  left: 79px;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg);
}
header .wave .box .sun .face .pupil-left {
  position: absolute;
  border-radius: 50%;
  height: 3px;
  width: 3px;
  left: 63px;
  top: 20px;
  background: #ffffff;
  z-index: 7;
}
header .wave .box .sun .face .pupil-right {
  position: absolute;
  border-radius: 50%;
  height: 3px;
  width: 3px;
  left: 104px;
  top: 20px;
  background: #ffffff;
  z-index: 7;
}
header .wave .box .ray {
  position: absolute;
  margin: auto;
  width: 150px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 15s linear infinite;
}
header .wave .box .ray .beam {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), yellow 40%, yellow);
  margin-left: 10px;
  border-radius: 50% 50% 0 0;
  position: absolute;
  opacity: 0.2;
}
header .wave .box .ray .r1 {
  height: 120px;
  width: 40px;
  transform: rotate(180deg);
  top: -120px;
  left: 42px;
}
header .wave .box .ray .r2 {
  height: 120px;
  width: 30px;
  transform: rotate(210deg);
  top: -100px;
  right: -5px;
}
header .wave .box .ray .r3 {
  height: 120px;
  width: 50px;
  transform: rotate(255deg);
  top: -30px;
  right: -65px;
}
header .wave .box .ray .r4 {
  height: 120px;
  width: 24px;
  transform: rotate(300deg);
  top: 60px;
  left: 150px;
}
header .wave .box .ray .r5 {
  height: 120px;
  width: 40px;
  top: 135px;
  left: 40px;
}
header .wave .box .ray .r6 {
  height: 120px;
  width: 30px;
  transform: rotate(-35deg);
  top: 115px;
  right: -12px;
}
header .wave .box .ray .r7 {
  height: 120px;
  width: 45px;
  transform: rotate(45deg);
  top: 100px;
  left: -45px;
}
header .wave .box .ray .r8 {
  height: 130px;
  width: 20px;
  transform: rotate(75deg);
  top: 40px;
  left: -70px;
}
header .wave .box .ray .r9 {
  height: 120px;
  width: 50px;
  transform: rotate(-255deg);
  top: -30px;
  left: -80px;
}
header .wave .box .ray .r10 {
  height: 130px;
  width: 20px;
  transform: rotate(150deg);
  top: -110px;
  left: -20px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(1.2);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1);
  }
}
header .wave .img-box img {
  position: absolute;
  width: 10%;
}
header .wave .img-box .cloud1 {
  top: 200px;
  left: 50px;
  width: 35%;
  animation-name: move;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes move {
  0% {
    transform: translateX(450%);
  }
  100% {
    transform: translateX(-180%);
  }
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .cloud1 {
    top: 300px;
    left: 200px;
    width: 20%;
  }
}
header .wave .img-box .cloud2 {
  top: 150px;
  left: 200px;
  width: 30%;
  animation-name: move2;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes move2 {
  0% {
    transform: translateX(-220%);
  }
  100% {
    transform: translateX(600%);
  }
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .cloud2 {
    top: 150px;
    left: 200px;
    width: 15%;
  }
}
header .wave .img-box .bird1 {
  top: 15%;
  left: 20%;
  width: 15%;
  transform: rotate(1deg);
  animation-name: bird1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes bird1 {
  0% {
    transform: translateY(0%);
    transform: rotate(0deg);
  }
  50% {
    transform: translateY(5%);
    transform: rotate(3deg);
  }
  100% {
    transform: translateY(0%);
    transform: rotate(0deg);
  }
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .bird1 {
    top: 15%;
    left: 20%;
    width: 6%;
    transform: rotate(20deg);
  }
}
header .wave .img-box .bird2 {
  top: 30%;
  left: 55%;
  width: 15%;
  transform: rotate(1deg);
  animation-name: bird2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@keyframes bird2 {
  0% {
    transform: translateY(0%);
    transform: rotate(0deg);
  }
  50% {
    transform: translateY(5%);
    transform: rotate(3deg);
  }
  100% {
    transform: translateY(0%);
    transform: rotate(0deg);
  }
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .bird2 {
    top: 27%;
    left: 45%;
    width: 6%;
  }
}
header .wave .img-box .paper-ship {
  bottom: 0%;
  left: 10%;
  width: 40%;
  z-index: 5;
  animation-name: move3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes move3 {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .paper-ship {
    bottom: 8%;
    left: 10%;
    width: 25%;
  }
}
header .wave .img-box .island {
  bottom: 0%;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .island {
    bottom: 5%;
    width: 100%;
  }
}
header .wave .img-box .ball {
  bottom: 6%;
  left: 65%;
  width: 7%;
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .ball {
    bottom: 19%;
    left: 65%;
    width: 5%;
  }
}
header .container {
  width: 100%;
  height: 100%;
  max-width: 1580px;
  margin: auto;
}
header .container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 14vw;
  font-family: "crunch chips";
  text-align: center;
  animation-name: title22;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@media only screen and (min-width: 1024px) {
  header .container h1 {
    font-size: 150px;
  }
}
header .container h1 span {
  color: #00A3A0;
}
@keyframes title22 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header .container .logo-btn-screen {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  header .container .logo-btn-screen {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 80px;
    border-radius: 50px;
  }
}
header .container .logo-btn-screen .header-logo a {
  cursor: pointer;
}
header .container .logo-btn-screen .header-logo a h2 {
  color: #00A3A0;
  font-size: 1.5rem;
  font-family: "crunch chips";
}
@media only screen and (min-width: 1024px) {
  header .container .logo-btn-screen .header-logo a h2 {
    position: absolute;
    top: 30%;
    left: 5%;
    transform: translate(-50%);
    z-index: 100000;
    font-size: 1.7rem;
  }
}
header .container .logo-btn-screen .btn_container {
  position: absolute;
  top: 30%;
  right: 20px;
  height: 20px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
header .container .logo-btn-screen .btn_container:hover {
  opacity: 0.7;
}
header .container .logo-btn-screen .btn_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: rgb(0, 0, 0);
}
header .container .logo-btn-screen .btn_container.active .middle {
  opacity: 0;
  background: rgb(0, 0, 0);
}
header .container .logo-btn-screen .btn_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: rgb(0, 0, 0);
}
header .container .logo-btn-screen .btn_container span {
  background: black;
  border: none;
  border-radius: 50px;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
header .container .logo-btn-screen .btn_container span:nth-of-type(2) {
  top: 11px;
}
header .container .logo-btn-screen .btn_container span:nth-of-type(3) {
  top: 22px;
}
@media only screen and (min-width: 1024px) {
  header .container .logo-btn-screen .btn_container span {
    display: none;
  }
}
header .container .fullscreen {
  position: fixed;
  background: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 20;
}
@media only screen and (min-width: 1024px) {
  header .container .fullscreen {
    position: absolute;
    background: none;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
  }
}
header .container .fullscreen.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
header .container .fullscreen.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
header .container .fullscreen.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
header .container .fullscreen.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
header .container .fullscreen.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
header .container .fullscreen nav {
  position: relative;
  height: 100%;
  top: 70%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  header .container .fullscreen nav {
    top: 47%;
  }
}
header .container .fullscreen .mobile-menu {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 50%;
}
@media only screen and (min-width: 1024px) {
  header .container .fullscreen .mobile-menu {
    display: none;
  }
}
header .container .fullscreen .mobile-menu li {
  display: block;
  height: 25%;
  min-height: 50px;
  position: relative;
  opacity: 0;
}
header .container .fullscreen .mobile-menu li a {
  display: block;
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "pretendard";
  text-decoration: none;
  overflow: hidden;
  padding-top: 25px;
}
header .container .fullscreen .mobile-menu li a:hover:after, header .container .fullscreen .mobile-menu li a:focus:after, header .container .fullscreen .mobile-menu li a:active:after {
  width: 100%;
}
header .container .fullscreen .mobile-menu li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #00A3A0;
  transition: 0.35s;
}
header .container .fullscreen .mobile-menu li a:hover {
  color: #00A3A0;
}
header .container .pc-menu {
  display: none;
}
@media only screen and (min-width: 1024px) {
  header .container .pc-menu {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    font-family: "recipekorea";
    width: 50%;
    height: 100%;
  }
}
header .container .pc-menu li a:hover {
  color: #00A3A0;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

main {
  width: 100%;
  height: 100%;
}
main .main-bg {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: linear-gradient(#93E4FF 17%, #4AB2D4 34%, #007EA8 100%);
  z-index: 0;
}
@media only screen and (min-width: 1024px) {
  main .main-bg {
    height: 100%;
    background: linear-gradient(#93E4FF 17%, #20599C 34%);
  }
}
main .main-bg #top-bt {
  display: none;
  position: fixed;
  right: 0;
  bottom: 10%;
  width: 15%;
  height: auto;
  margin-right: 20px;
  z-index: 20000;
  text-align: center;
  color: black;
  cursor: pointer;
}
main .main-bg #top-bt:hover {
  transform: scale(1.2);
  color: #ffffff;
}
@media only screen and (min-width: 1024px) {
  main .main-bg #top-bt {
    width: 5%;
    margin-right: 50px;
  }
}
main .main-bg #top-bt img {
  width: 100%;
}
main .main-bg #top-bt p {
  position: absolute;
  top: 89%;
  left: 47%;
  transform: translate(-50%);
  font-family: "crunch chips";
  font-size: 1.2rem;
}
@media only screen and (min-width: 1024px) {
  main .main-bg #top-bt p {
    font-size: 1.5rem;
  }
}
main .main-bg .fishs {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .main-bg .fishs img {
  width: 30%;
}
main .main-bg .fishs .killer {
  position: absolute;
  top: 70%;
  left: 70%;
  width: 60%;
  z-index: 9;
  animation-name: killer;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .fishs .killer {
    width: 15%;
    top: 5000px;
    left: 0%;
    width: 40%;
    animation-name: killer;
    animation-duration: 18s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}
@keyframes killer {
  0% {
    transform: translateX(50%) scaleX(1) rotate(20deg);
  }
  45% {
    transform: translateX(-290%) translateY(100%) scaleX(1) rotate(-10deg);
  }
  55% {
    transform: translateX(-290%) translateY(300%) rotate(-30deg) scaleX(-1);
  }
  100% {
    transform: translateX(65%) rotate(-30deg) scaleX(-1);
  }
}
@media only screen and (min-width: 1024px) {
  @keyframes killer {
    0% {
      transform: translateX(270%) scaleX(1) rotate(20deg);
    }
    45% {
      transform: translateX(-110%) translateY(100%) scaleX(1) rotate(-10deg);
    }
    55% {
      transform: translateX(-110%) translateY(200%) scaleX(-1) rotate(30deg);
    }
    100% {
      transform: translateX(285%) scaleX(-1) rotate(20deg);
    }
  }
}
main .main-bg .fishs .whale {
  position: absolute;
  top: 30%;
  left: -55%;
  width: 100%;
  animation-name: whale;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .fishs .whale {
    top: 1100px;
    width: 40%;
  }
}
@keyframes whale {
  0% {
    transform: translateX(-50%) scaleX(1) rotate(20deg);
  }
  45% {
    transform: translateX(165%) scaleX(1) rotate(-10deg);
  }
  55% {
    transform: translateX(165%) scaleX(-1) rotate(10deg);
  }
  100% {
    transform: translateX(-50%) scaleX(-1) rotate(-10deg);
  }
}
@media only screen and (min-width: 1024px) {
  @keyframes whale {
    0% {
      transform: translateX(38%) scaleX(1) rotate(20deg);
    }
    45% {
      transform: translateX(395%) scaleX(1) rotate(-10deg);
    }
    55% {
      transform: translateX(395%) scaleX(-1) rotate(10deg);
    }
    100% {
      transform: translateX(38%) scaleX(-1) rotate(-10deg);
    }
  }
}
main .main-bg .fishs .fish1-box {
  position: absolute;
  top: 80%;
  left: 72%;
  width: 40%;
  z-index: 9;
  animation-name: fish1-box;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .fishs .fish1-box {
    top: 6000px;
    width: 20%;
    animation-name: fish1-box;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}
@keyframes fish1-box {
  0% {
    transform: translateX(100%) rotate(50deg);
  }
  100% {
    transform: translateX(-300%) rotate(50deg);
  }
}
@media only screen and (min-width: 1024px) {
  @keyframes fish1-box {
    0% {
      transform: translateX(140%) rotate(50deg);
    }
    100% {
      transform: translateX(-450%) rotate(50deg);
    }
  }
}
main .main-bg .fishs .fish2 {
  position: absolute;
  top: 25%;
  left: 55%;
  width: 26%;
  animation-name: fish2;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .fishs .fish2 {
    width: 20px;
    top: 1500px;
    width: 10%;
    animation-name: fish2;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}
@keyframes fish2 {
  0% {
    transform: translateX(315%) scaleX(-1) rotate(20deg);
  }
  45% {
    transform: translateX(-315%) scaleX(-1) rotate(-10deg);
  }
  55% {
    transform: translateX(-315%) scaleX(1);
  }
  100% {
    transform: translateX(315%) scaleX(1) rotate(5deg);
  }
}
@media only screen and (min-width: 1024px) {
  @keyframes fish2 {
    0% {
      transform: translateX(470%) scaleX(-1) rotate(20deg);
    }
    45% {
      transform: translateX(-705%) scaleX(-1) rotate(-10deg);
    }
    55% {
      transform: translateX(-705%) scaleX(1);
    }
    100% {
      transform: translateX(470%) scaleX(1) rotate(5deg);
    }
  }
}
main .main-bg .fishs .fish3-box {
  position: absolute;
  top: 87%;
  left: 70%;
  width: 50%;
  z-index: 9;
  animation-name: fish3-box;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes fish3-box {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(100%);
  }
}
@media only screen and (min-width: 1024px) {
  @keyframes fish3-box {
    0% {
      transform: translateX(-450%);
    }
    100% {
      transform: translateX(170%);
    }
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .fishs .fish3-box {
    top: 7500px;
    left: 78%;
    width: 20%;
    animation-name: fish3-box;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
main .main-bg .fishs .fish3-box .fish3-1 {
  position: absolute;
  top: -60%;
  left: -25%;
}
main .main-bg .fishs .fish3-box .fish3-3 {
  position: absolute;
  top: 90%;
  left: -25%;
}
main .main-bg .fishs .fish4-box {
  position: absolute;
  top: 73%;
  left: 80%;
  z-index: 1;
  animation-name: fish4-box;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes fish4-box {
  0% {
    transform: translateX(260%) translateY(0%) rotate(0deg);
  }
  100% {
    transform: translateX(-550%) translateY(-600%) rotate(-30deg);
  }
}
@media only screen and (min-width: 1024px) {
  @keyframes fish4-box {
    0% {
      transform: translateX(260%) translateY(0%) rotate(0deg);
    }
    100% {
      transform: translateX(-820%) translateY(-600%) rotate(-30deg);
    }
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .fishs .fish4-box {
    top: 5500px;
    left: 75%;
    width: 10%;
  }
}
main .main-bg .fishs .fish4-box .fish4-1 {
  transform: rotate(-40deg);
}
main .main-bg .fishs .fish4-box .fish4-2 {
  transform: rotate(-35deg);
}
main .main-bg .buble {
  position: absolute;
  z-index: 100;
  width: 10px;
  animation-name: buble-move;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
}
main .main-bg .buble0 {
  top: 0%;
  left: 60%;
  width: 50px;
  animation-name: buble-move0;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 7s;
}
@keyframes buble-move0 {
  0% {
    transform: translateY(550px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble1 {
  width: 80px;
  top: 4%;
  left: 6%;
  animation-name: buble-move1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
}
@keyframes buble-move1 {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(-100px);
  }
}
main .main-bg .buble2 {
  width: 100px;
  top: 11%;
  left: 70%;
  animation-name: buble-move2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
}
@keyframes buble-move2 {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble3 {
  width: 60px;
  top: 28.5%;
  left: 23%;
  animation-name: buble-move3;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 9s;
}
@keyframes buble-move3 {
  0% {
    transform: translateY(1400px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble4 {
  width: 20px;
  top: 30%;
  left: 30%;
  animation-name: buble-move4;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 13s;
}
@keyframes buble-move4 {
  0% {
    transform: translateY(1500px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble5 {
  width: 70px;
  top: 40%;
  left: 30%;
  animation-name: buble-move5;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 9s;
}
@keyframes buble-move5 {
  0% {
    transform: translateY(2000px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble6 {
  width: 30px;
  top: 49%;
  left: 60%;
  animation-name: buble-move6;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
}
@keyframes buble-move6 {
  0% {
    transform: translateY(2300px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble7 {
  width: 100px;
  top: 61%;
  left: 25%;
  animation-name: buble-move7;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
}
@keyframes buble-move7 {
  0% {
    transform: translateY(600px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble8 {
  width: 120px;
  top: 71%;
  left: 73%;
  animation-name: buble-move8;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 18s;
}
@keyframes buble-move8 {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble9 {
  width: 100px;
  top: 79%;
  left: 20%;
  animation-name: buble-move9;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 9s;
}
@keyframes buble-move9 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-1800px);
  }
}
main .main-bg .buble10 {
  width: 100px;
  top: 85%;
  left: 20%;
  animation-name: buble-move10;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 7s;
}
@keyframes buble-move10 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1000px);
  }
}
main .main-bg .buble11 {
  width: 100px;
  top: 90%;
  left: 60%;
  animation-name: buble-move11;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 7s;
}
@keyframes buble-move11 {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-300px);
  }
}
main .main-bg .buble12 {
  width: 80px;
  top: 99%;
  left: 60%;
  animation-name: buble-move12;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
}
@keyframes buble-move12 {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-500px);
  }
}
main .main-bg .buble13 {
  width: 30px;
  top: 96%;
  left: 30%;
  animation-name: buble-move13;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 6s;
}
@keyframes buble-move13 {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(-1000px);
  }
}
main .main-bg .buble14 {
  width: 50px;
  top: 94%;
  left: 30%;
  animation-name: buble-move14;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
}
@keyframes buble-move14 {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(-600px);
  }
}
main .main-bg .container {
  width: 100%;
  height: 100%;
  max-width: 1560px;
  margin: auto;
}
main .main-bg .container h2 {
  padding: 200px 0 50px 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: "pretendard";
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container h2 {
    text-align: left;
    font-size: 4.5rem;
    padding: 300px 0 140px 0;
  }
}
main .main-bg .container .about-me {
  width: 100%;
  margin-bottom: 20%;
  margin-top: 0%;
}
main .main-bg .container .about-me .submarin-atxt {
  width: 85%;
  height: 100%;
  margin: auto;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me .submarin-atxt {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
main .main-bg .container .about-me .submarin-atxt .submarin {
  width: 100%;
  height: 100%;
}
main .main-bg .container .about-me .submarin-atxt .submarin .submarin-img {
  width: 300%;
  transform: translateX(-11%) translateY(32%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me .submarin-atxt .submarin .submarin-img {
    width: 480%;
    transform: translateX(-650px) translateY(200px);
  }
}
main .main-bg .container .about-me .submarin-atxt .atxt {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "pretendard";
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me .submarin-atxt .atxt {
    position: relative;
    z-index: 10;
  }
}
main .main-bg .container .about-me .submarin-atxt .atxt h3 {
  font-size: 9vw;
  font-weight: 400;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me .submarin-atxt .atxt h3 {
    font-size: 48px;
    font-weight: 400;
  }
}
main .main-bg .container .about-me .submarin-atxt .atxt h3 .name {
  font-size: 56px;
  font-weight: 600;
  color: #000000;
}
main .main-bg .container .about-me .submarin-atxt .atxt strong {
  margin: 12px 0 24px 0;
  color: #767676;
}
main .main-bg .container .about-me .submarin-atxt .atxt p {
  text-align: left;
  margin-bottom: 5%;
  font-size: 4vw;
  font-weight: 300;
  color: #000000;
  line-height: 145%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me .submarin-atxt .atxt p {
    font-size: 20px;
    line-height: 32px;
  }
}
main .main-bg .container .about-me .submarin-atxt .atxt p .name2 {
  font-weight: 600;
  color: black;
}
main .main-bg .container .about-me .submarin-atxt .atxt p .advantage {
  font-size: 5vw;
  font-weight: bold;
  color: rgb(219, 16, 16);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me .submarin-atxt .atxt p .advantage {
    font-size: 32px;
  }
}
main .main-bg .container .about-me .submarin-atxt .atxt p .focus {
  font-size: 3.5vw;
  font-weight: bold;
  color: black;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me .submarin-atxt .atxt p .focus {
    font-size: 20px;
  }
}
main .main-bg .container .about-me .submarin-atxt .atxt p .resolution {
  font-size: 3.5vw;
  font-weight: bold;
  color: black;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me .submarin-atxt .atxt p .resolution {
    font-size: 20px;
  }
}
main .main-bg .container .skill {
  margin-top: 100px;
  margin-bottom: 100px;
}
main .main-bg .container .skill .skill-box {
  width: 90%;
  margin: auto;
  height: 160vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box {
    position: relative;
    height: 550px;
  }
}
main .main-bg .container .skill .skill-box .skill-item {
  position: relative;
  display: inline-block;
  z-index: 550;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item {
    position: absolute;
  }
}
main .main-bg .container .skill .skill-box .skill-item:hover .overlay {
  opacity: 1;
}
main .main-bg .container .skill .skill-box .skill-item .icon {
  width: 30vw;
  height: auto;
  display: block;
}
main .main-bg .container .skill .skill-box .skill-item .ai-img {
  width: 20vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .ai-img {
    width: 10vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .pr-img {
  width: 20vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .pr-img {
    width: 10vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .html-img {
  width: 18vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .html-img {
    width: 8vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .sass-img {
  width: 18vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .sass-img {
    width: 8vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .js-img {
  width: 18vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .js-img {
    width: 8vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .ps-img {
  width: 20vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .ps-img {
    width: 10vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .jquery-img {
  width: 16vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .jquery-img {
    width: 6vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .react-img {
  width: 16vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .react-img {
    width: 6vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .git-img {
  width: 16vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .git-img {
    width: 6vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .css-img {
  width: 18vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .css-img {
    width: 8vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .figma-img {
  width: 20vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .figma-img {
    width: 10vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .ae-img {
  width: 20vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .ae-img {
    width: 10vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 50%;
}
main .main-bg .container .skill .skill-box .modal-box .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  height: 90vw;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  z-index: 1000000;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .modal-box .modal {
    width: 60%;
    height: 60%;
  }
}
main .main-bg .container .skill .skill-box .modal-box .modal h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  font-size: 12vw;
  font-weight: 600;
  text-align: center;
  padding: 0;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .modal-box .modal h2 {
    position: absolute;
    top: 25%;
    font-size: 6rem;
  }
}
main .main-bg .container .skill .skill-box .modal-box .modal p {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-family: "pretendard";
  font-size: 3.4vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .modal-box .modal p {
    font-size: 24px;
    width: 45%;
  }
}
main .main-bg .container .skill .skill-box .modal-box .modal .close {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 20%;
  height: 10%;
  background-color: #000;
  color: white;
  margin-top: 10%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "pretendard";
  font-size: 3vw;
}
main .main-bg .container .skill .skill-box .modal-box .modal .close:hover {
  background-color: #93E4FF;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .modal-box .modal .close {
    font-size: 1.5rem;
  }
}
main .main-bg .container .skill .skill-box .modal-box .hidden {
  display: none;
}
main .main-bg .container .skill .skill-box .ai {
  transform: translateX(260%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .ai {
    transform: translateX(50%) translateY(-200%);
  }
}
main .main-bg .container .skill .skill-box .pr {
  transform: translateX(70%) translateY(-70%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .pr {
    transform: translateX(600%) translateY(-100%);
  }
}
main .main-bg .container .skill .skill-box .html {
  transform: translateX(180%) translateY(-90%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .html {
    transform: translateX(600%) translateY(-100%);
  }
}
main .main-bg .container .skill .skill-box .sass {
  transform: translateX(70%) translateY(-90%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .sass {
    transform: translateX(300%) translateY(60%);
  }
}
main .main-bg .container .skill .skill-box .js {
  transform: translateX(300%) translateY(-220%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .js {
    transform: translateX(750%) translateY(70%);
  }
}
main .main-bg .container .skill .skill-box .ps {
  transform: translateX(130%) translateY(-180%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .ps {
    transform: translateX(340%) translateY(-120%);
  }
}
main .main-bg .container .skill .skill-box .jquery {
  transform: translateX(110%) translateY(-190%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .jquery {
    transform: translateX(300%) translateY(-120%);
  }
}
main .main-bg .container .skill .skill-box .react {
  transform: translateX(300%) translateY(-370%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .react {
    transform: translateX(650%) translateY(60%);
  }
}
main .main-bg .container .skill .skill-box .git {
  transform: translateX(220%) translateY(-310%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .git {
    transform: translateX(800%) translateY(-300%);
  }
}
main .main-bg .container .skill .skill-box .css {
  transform: translateX(50%) translateY(-330%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .css {
    transform: translateX(350%) translateY(-320%);
  }
}
main .main-bg .container .skill .skill-box .figma {
  transform: translateX(260%) translateY(-350%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .figma {
    transform: translateX(550%) translateY(-270%);
  }
}
main .main-bg .container .skill .skill-box .ae {
  transform: translateX(100%) translateY(-360%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .ae {
    transform: translateX(70%) translateY(70%);
  }
}
main .main-bg .container .portfolio {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio {
    width: 100%;
    height: 4000px;
  }
}
main .main-bg .container .portfolio .box {
  position: relative;
  width: 100%;
  border-radius: 20px;
  z-index: 100;
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .box {
    width: 100%;
  }
}
main .main-bg .container .portfolio .box::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
main .main-bg .container .portfolio .inner-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
main .main-bg .container .portfolio .po-box {
  width: 100%;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box {
    padding: 0;
  }
}
main .main-bg .container .portfolio .po-box .box-txt {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 5px;
  z-index: 10;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .box-txt {
    padding-left: 20px;
    height: 150px;
    text-align: left;
  }
}
main .main-bg .container .portfolio .po-box .box-txt .box-inner-txt {
  width: 100%;
  padding: 6px;
}
main .main-bg .container .portfolio .po-box .box-txt .box-inner-txt h3 {
  font-size: 3.5vw;
  font-weight: 600;
  font-family: "Pretendard";
  padding-bottom: 6px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .box-txt .box-inner-txt h3 {
    font-size: 24px;
    text-align: left;
  }
}
main .main-bg .container .portfolio .po-box .box-txt .box-inner-txt p {
  font-size: 3vw;
  font-weight: 400;
  font-family: "Pretendard";
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .box-txt .box-inner-txt p {
    font-size: 1rem;
  }
}
main .main-bg .container .portfolio .po-box .box-button {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .box-button {
    position: absolute;
    width: 30%;
    margin: auto;
    z-index: 20;
  }
}
main .main-bg .container .portfolio .po-box .box-button a {
  position: relative;
  width: 50%;
  height: 8vw;
  line-height: 8vw;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 6px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .box-button a {
    font-size: 1rem;
    height: 50px;
    line-height: 50px;
  }
}
main .main-bg .container .portfolio .po-box .box-button a::after {
  content: "";
  display: block;
}
@keyframes po-move {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b1-b2 .b1 {
    position: relative;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b1-b2 .b1 .box1 {
    width: 600px;
  }
}
main .main-bg .container .portfolio .po-box .b1-b2 .b1 .inner-box1 img {
  animation-name: po-move;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b1-b2 .box-button1 {
    top: 480px;
    left: 290px;
    z-index: 100;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b1-b2 .b2 {
    position: relative;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b1-b2 .b2 .box2 {
    width: 970px;
    height: 600px;
  }
}
main .main-bg .container .portfolio .po-box .b1-b2 .b2 .inner-box2 img {
  animation-name: po-move;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b1-b2 .box-button2 {
    top: 480px;
    left: 660px;
    z-index: 100;
  }
}
@keyframes po-move-common {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-68%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b3-b4 .b3 {
    position: relative;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b3-b4 .b3 .box3 {
    width: 970px;
    height: 600px;
    right: 370px;
  }
}
main .main-bg .container .portfolio .po-box .b3-b4 .b3 .inner-box3 img {
  animation-name: po-move-common;
  animation-duration: 25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b3-b4 .box-button3 {
    top: 480px;
    left: 290px;
    z-index: 100;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b3-b4 .b4 {
    position: relative;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b3-b4 .b4 .box4 {
    width: 600px;
  }
}
main .main-bg .container .portfolio .po-box .b3-b4 .b4 .inner-box4 img {
  animation-name: po-move-common;
  animation-duration: 25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b3-b4 .box-button4 {
    top: 480px;
    left: 290px;
    z-index: 100;
  }
}
main .main-bg .container .portfolio .slider {
  position: relative;
  width: 100%;
  height: 60vw;
  padding-left: 20px;
  z-index: 995;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .slider {
    padding-left: 0px;
    height: 17.8%;
    width: 101.3%;
  }
}
main .main-bg .container .portfolio .slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 75vw;
  width: 175%;
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  transition: 0s ease-in;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .slider .slider-inner {
    width: 140%;
    height: 43vw;
    padding: 0px;
  }
}
main .main-bg .container .portfolio .slider .slider-inner .slider-item {
  width: 100%;
  height: 60vw;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .slider .slider-inner .slider-item {
    margin-top: 10px;
    height: 700px;
  }
}
main .main-bg .container .portfolio .slider .slider-inner .slider-item .slide-box {
  border: none;
}
main .main-bg .container .portfolio .slider .slider-inner .slider-item .slide-box video {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 59.5vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .slider .slider-inner .slider-item .slide-box video {
    height: 700px;
  }
}
main .main-bg .container .portfolio .slider .slider-inner .slider-item .box-txt {
  position: absolute;
  bottom: 0;
}
main .main-bg .container .portfolio .slider .slider-inner .slider-item .box-txt h3 {
  font-size: 4vw;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 2%;
  font-weight: 600;
  color: black;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .slider .slider-inner .slider-item .box-txt h3 {
    margin-left: 20px;
    margin-bottom: 12px;
    font-size: 20px;
  }
}
main .main-bg .container .portfolio .slider .slider-inner .slider-item .box-txt p {
  margin-left: 10px;
  font-size: 3vw;
  font-weight: 600;
  line-height: 120%;
  color: black;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .slider .slider-inner .slider-item .box-txt p {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
  }
}
main .main-bg .container .portfolio .design {
  position: relative;
  z-index: 10000;
  margin-top: 50%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design {
    margin-top: 25%;
  }
}
main .main-bg .container .portfolio .design .d-box {
  width: 25vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .d-box {
    width: 15vw;
  }
}
main .main-bg .container .portfolio .design p {
  width: 100%;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  font-family: "pretendard";
  margin-top: 10%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design p {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
  }
}
main .main-bg .container .portfolio .design .ds {
  width: 25vw;
  height: 25vw;
  cursor: pointer;
  border-radius: 50%;
  background-color: #9c9c9c;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .ds {
    width: 15vw;
    height: 15vw;
  }
}
main .main-bg .container .portfolio .design .ds::after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
main .main-bg .container .portfolio .design .po-modal-box {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  transition: bottom 0.3s ease;
  box-shadow: 0px -2px 10px rgba(255, 255, 255, 0.1);
  overflow-y: auto;
  z-index: 30000;
}
main .main-bg .container .portfolio .design .po-modal-box .po-modal {
  text-align: center;
}
main .main-bg .container .portfolio .design .po-modal-box .po-modal .img-box {
  width: 80%;
  margin: auto;
  cursor: grab;
}
main .main-bg .container .portfolio .design .po-modal-box .po-modal .img-box img {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  transition: transform 0.3s ease-out;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .po-modal-box .po-modal .img-box img {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
main .main-bg .container .portfolio .design .po-modal-box .po-modal .img-box img:active {
  cursor: grabbing;
}
main .main-bg .container .portfolio .design .po-modal-box .close-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 2%;
  padding: 10px 20px;
  background: none;
  font-size: 40px;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 9999;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .banner-modal-box .banner-modal .img-box {
    display: flex;
    align-items: center;
  }
}
main .main-bg .container .portfolio .design .banner-modal-box .banner-modal .img-box .img-inner-box {
  width: 100%;
  height: 100%;
}
main .main-bg .container .portfolio .design .banner-modal-box .banner-modal .img-box .img-inner-box img {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .banner-modal-box .banner-modal .img-box .img-inner-box img {
    width: 100%;
    height: 100%;
    margin-right: 50px;
  }
}
main .main-bg .container .portfolio .design .banner-modal-box .banner-modal .img-box img {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .banner-modal-box .banner-modal .img-box img {
    width: 50%;
    height: 50%;
    margin-right: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .detail-modal-box .detail-modal .img-box {
    display: flex;
  }
}
main .main-bg .container .portfolio .design .detail-modal-box .detail-modal .img-box img {
  width: 100%;
  height: 50%;
  margin-right: 10px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .detail-modal-box .detail-modal .img-box img {
    width: 50%;
    height: 50%;
    margin-right: 50px;
  }
}
main .main-bg .container .portfolio .design .info-modal-box .info-modal .img-box img {
  width: 100%;
  height: 100%;
  margin-top: 45%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .info-modal-box .info-modal .img-box img {
    margin: 0 auto;
    width: 50%;
    height: 50%;
  }
}
main .main-bg .container .portfolio .design .character-modal-box .character-modal .img-box img {
  width: 100%;
  height: 100%;
  margin-top: 45%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .character-modal-box .character-modal .img-box img {
    margin: 0 auto;
    width: 50%;
    height: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .mobile-modal-box .mobile-modal .img-box {
    width: 45%;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .mobile-modal-box .mobile-modal .img-box .img-box-inner1 {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .mobile-modal-box .mobile-modal .img-box .img-box-inner2 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}
main .main-bg .container .portfolio .design .mobile-modal-box .mobile-modal .img-box img {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .mobile-modal-box .mobile-modal .img-box img {
    width: 50%;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .logo-modal-box .logo-modal .img-box img {
    margin: 0 auto;
    width: 90%;
    height: 90%;
  }
}
main .main-bg .container .portfolio .design .banner-box {
  margin-left: 20%;
  cursor: pointer;
}
main .main-bg .container .portfolio .design .banner-box .banner {
  overflow: hidden;
  background-size: cover;
  background-position-y: -50px;
}
main .main-bg .container .portfolio .design .banner-box .banner img {
  transform: scale(1.1);
}
main .main-bg .container .portfolio .design .banner-box .banner img:hover {
  animation-name: detail123;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail123 {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .banner-box {
    margin-left: 10%;
  }
}
main .main-bg .container .portfolio .design .detail-box {
  margin-left: 55%;
}
main .main-bg .container .portfolio .design .detail-box .detail {
  overflow: hidden;
  background-size: cover;
  background-position-y: -50px;
}
main .main-bg .container .portfolio .design .detail-box .detail img:hover {
  animation-name: detail413;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail413 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .detail-box {
    transform: translateY(-200px);
    margin-left: 42%;
  }
}
main .main-bg .container .portfolio .design .package-box {
  margin-left: 20%;
}
main .main-bg .container .portfolio .design .package-box .package {
  overflow: hidden;
  background-size: cover;
}
main .main-bg .container .portfolio .design .package-box .package img {
  width: 155%;
  margin: 0 auto;
  transform: translateX(-17%);
}
main .main-bg .container .portfolio .design .package-box .package img:hover {
  animation-name: detail1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail1 {
  0% {
    transform: scale(1) translateX(-17%);
  }
  100% {
    transform: scale(1.1) translateX(-17%);
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .package-box {
    transform: translateY(-350px);
    margin-top: 8%;
    margin-left: 70%;
  }
}
main .main-bg .container .portfolio .design .logo-box {
  margin-left: 55%;
}
main .main-bg .container .portfolio .design .logo-box .logo {
  overflow: hidden;
  background-size: cover;
}
main .main-bg .container .portfolio .design .logo-box .logo img {
  width: 190%;
  margin: 0 auto;
  transform: translatex(-23%);
}
main .main-bg .container .portfolio .design .logo-box .logo img:hover {
  animation-name: detail44;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail44 {
  0% {
    transform: scale(1) translatex(-23%);
  }
  100% {
    transform: scale(1.1) translatex(-22%);
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .logo-box {
    transform: translateY(-450px);
    margin-top: 4%;
    margin-left: 42%;
  }
}
main .main-bg .container .portfolio .design .mobile-box {
  margin-left: 20%;
}
main .main-bg .container .portfolio .design .mobile-box .mobile {
  overflow: hidden;
  background-size: cover;
}
main .main-bg .container .portfolio .design .mobile-box .mobile img {
  width: 100%;
  margin: auto;
  transform: translateY(-25%);
}
main .main-bg .container .portfolio .design .mobile-box .mobile img:hover {
  animation-name: detail11;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail11 {
  0% {
    transform: scale(1) translateY(-25%);
  }
  100% {
    transform: scale(1.1) translateY(-25%);
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .mobile-box {
    transform: translateY(-550px);
    margin-top: 13%;
    margin-left: 25%;
  }
}
main .main-bg .container .portfolio .design .info-box {
  margin-left: 55%;
  cursor: pointer;
}
main .main-bg .container .portfolio .design .info-box .info {
  overflow: hidden;
  background-size: cover;
}
main .main-bg .container .portfolio .design .info-box .info img {
  transform: scale(1.02);
}
main .main-bg .container .portfolio .design .info-box .info img:hover {
  animation-name: detail321;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail321 {
  0% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1.2);
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .info-box {
    transform: translateY(-550px);
    margin-left: 50%;
  }
}
main .main-bg .container .portfolio .design .character-box {
  margin-left: 20%;
  cursor: pointer;
}
main .main-bg .container .portfolio .design .character-box .character {
  overflow: hidden;
  background-size: cover;
}
main .main-bg .container .portfolio .design .character-box .character img:hover {
  animation-name: detail;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .character-box {
    transform: translateY(-550px);
    margin-left: 30%;
  }
}
main .contact {
  position: relative;
  z-index: 1;
}
main .contact .eye1 {
  position: absolute;
  width: 10vw;
  bottom: 11%;
  left: 32%;
  animation-name: eye1;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 1024px) {
  main .contact .eye1 {
    bottom: 13%;
    left: 35%;
    width: 6vw;
  }
}
@keyframes eye1 {
  0% {
    transform: scale(0);
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    transform: rotate(20deg);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    transform: rotate(0deg);
    opacity: 0;
  }
}
main .contact .eye2 {
  position: absolute;
  width: 10vw;
  bottom: 11%;
  left: 57%;
  animation-name: eye2;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 1024px) {
  main .contact .eye2 {
    width: 6vw;
    bottom: 13.5%;
    left: 58%;
  }
}
@keyframes eye2 {
  0% {
    transform: scale(0);
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    transform: rotate(-20deg);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    transform: rotate(0deg);
    opacity: 0;
  }
}
main .contact .bg-img-box .sea {
  width: 100%;
  height: 100%;
}
main .contact .contact-box {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%);
  color: rgb(255, 255, 255);
}
main .contact .contact-box h2 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 8vw;
  font-family: "pretendard";
  color: rgb(255, 255, 255);
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-box h2 {
    font-size: 5rem;
  }
}
main .contact .contact-box a {
  color: white;
  font-size: 3vw;
  margin-bottom: 6px;
}
@media only screen and (min-width: 1024px) {
  main .contact .contact-box a {
    font-size: 2rem;
  }
}
main .contact .contact-box a:hover {
  color: #007EA8;
}

footer h2 {
  display: none;
}/*# sourceMappingURL=index.css.map */