@charset "UTF-8";
* {
  box-sizing: border-box;
  /* 드래그나 더블클릭 시에 텍스트가 선택이 되지 않도록 설정 */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /* 너비 등의 레이아웃에 관여하지 않는 테두리 제거 */
  outline: 0;
  /* 마진 패딩 제거*/
  margin: 0;
  padding: 0;
  /* IOS 웹킷에서 터치 시에 등장하는 하이라이트를 제거하기 위함 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 1rem;
  color: black;
}

ul, ol, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

strong {
  display: block;
}

header,
nav,
main,
article,
section,
aside,
footer {
  display: block;
}

header {
  /*sun*/
}
header .wave {
  position: relative; /* 자식 요소의 위치를 상대적으로 설정하기 위해 */
  z-index: 1; /* 다른 요소들보다 앞에 표시 */
  width: 100%;
  height: 800px;
  overflow: hidden; /* 영역을 넘는 부분은 숨기기 */
  background: radial-gradient(ellipse at center, #ceecf7 0%, #a6e5fa 35%, #5AB9D9 100%);
  /*animations*/
}
@media only screen and (min-width: 1024px) {
  header .wave {
    height: 1000px;
  }
}
header .wave canvas {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 250px;
}
@media only screen and (min-width: 1024px) {
  header .wave canvas {
    height: 230px;
  }
}
header .wave .box {
  position: absolute;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
}
header .wave .box .sun {
  position: absolute;
  z-index: 8;
  background: yellow;
  top: 30%;
  right: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 15px #ffff66;
  animation: pulse 2s infinite;
}
@media only screen and (min-width: 1024px) {
  header .wave .box .sun {
    top: 30%;
    left: 30%;
  }
}
header .wave .box .sun .face {
  position: absolute;
}
header .wave .box .sun .face:before, header .wave .box .sun .face:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background: #000000;
  border-radius: 50%;
  z-index: 5;
}
header .wave .box .sun .face:before {
  top: 20px;
  left: 60px;
}
header .wave .box .sun .face:after {
  top: 20px;
  left: 100px;
}
header .wave .box .sun .face .smile {
  position: absolute;
  top: 27px;
  left: 79px;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg);
}
header .wave .box .sun .face .pupil-left {
  position: absolute;
  border-radius: 50%;
  height: 3px;
  width: 3px;
  left: 63px;
  top: 20px;
  background: #ffffff;
  z-index: 7;
}
header .wave .box .sun .face .pupil-right {
  position: absolute;
  border-radius: 50%;
  height: 3px;
  width: 3px;
  left: 104px;
  top: 20px;
  background: #ffffff;
  z-index: 7;
}
header .wave .box .ray {
  position: absolute;
  margin: auto;
  width: 150px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 15s linear infinite;
}
header .wave .box .ray .beam {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), yellow 40%, yellow);
  margin-left: 10px;
  border-radius: 50% 50% 0 0;
  position: absolute;
  opacity: 0.2;
}
header .wave .box .ray .r1 {
  height: 120px;
  width: 40px;
  transform: rotate(180deg);
  top: -120px;
  left: 42px;
}
header .wave .box .ray .r2 {
  height: 120px;
  width: 30px;
  transform: rotate(210deg);
  top: -100px;
  right: -5px;
}
header .wave .box .ray .r3 {
  height: 120px;
  width: 50px;
  transform: rotate(255deg);
  top: -30px;
  right: -65px;
}
header .wave .box .ray .r4 {
  height: 120px;
  width: 24px;
  transform: rotate(300deg);
  top: 60px;
  left: 150px;
}
header .wave .box .ray .r5 {
  height: 120px;
  width: 40px;
  top: 135px;
  left: 40px;
}
header .wave .box .ray .r6 {
  height: 120px;
  width: 30px;
  transform: rotate(-35deg);
  top: 115px;
  right: -12px;
}
header .wave .box .ray .r7 {
  height: 120px;
  width: 45px;
  transform: rotate(45deg);
  top: 100px;
  left: -45px;
}
header .wave .box .ray .r8 {
  height: 130px;
  width: 20px;
  transform: rotate(75deg);
  top: 40px;
  left: -70px;
}
header .wave .box .ray .r9 {
  height: 120px;
  width: 50px;
  transform: rotate(-255deg);
  top: -30px;
  left: -80px;
}
header .wave .box .ray .r10 {
  height: 130px;
  width: 20px;
  transform: rotate(150deg);
  top: -110px;
  left: -20px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(1.2);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1);
  }
}
header .wave .img-box img {
  position: absolute;
  width: 10%;
}
header .wave .img-box .cloud1 {
  top: 200px;
  left: 50px;
  width: 35%;
  animation-name: move;
  animation-duration: 11s;
  animation-iteration-count: infinite;
}
@keyframes move {
  0% {
    transform: translateX(550%);
  }
  100% {
    transform: translateX(-220%);
  }
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .cloud1 {
    top: 300px;
    left: 200px;
    width: 20%;
  }
}
header .wave .img-box .cloud2 {
  top: 150px;
  left: 200px;
  width: 30%;
  animation-name: move2;
  animation-duration: 13s;
  animation-iteration-count: infinite;
}
@keyframes move2 {
  0% {
    transform: translateX(-220%);
  }
  100% {
    transform: translateX(500%);
  }
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .cloud2 {
    top: 150px;
    left: 200px;
    width: 15%;
  }
}
header .wave .img-box .bird1 {
  top: 15%;
  left: 20%;
  width: 15%;
  rotate: 1deg;
  animation-name: bird1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes bird1 {
  0% {
    transform: translateY(0%);
    rotate: 0deg;
  }
  50% {
    transform: translateY(5%);
    rotate: 3deg;
  }
  100% {
    transform: translateY(0%);
    rotate: 0deg;
  }
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .bird1 {
    top: 15%;
    left: 20%;
    width: 6%;
    rotate: 20deg;
  }
}
header .wave .img-box .bird2 {
  top: 30%;
  left: 55%;
  width: 15%;
  rotate: 1deg;
  animation-name: bird2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@keyframes bird2 {
  0% {
    transform: translateY(0%);
    rotate: 0deg;
  }
  50% {
    transform: translateY(5%);
    rotate: 3deg;
  }
  100% {
    transform: translateY(0%);
    rotate: 0deg;
  }
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .bird2 {
    top: 27%;
    left: 45%;
    width: 6%;
  }
}
header .wave .img-box .paper-ship {
  bottom: 17%;
  left: 10%;
  width: 40%;
  z-index: 5;
  animation-name: move3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes move3 {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .paper-ship {
    bottom: 10%;
    left: 10%;
    width: 25%;
  }
}
header .wave .img-box .island {
  bottom: 18%;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .island {
    bottom: 3%;
    width: 100%;
  }
}
header .wave .img-box .ball {
  bottom: 21.5%;
  left: 65%;
  width: 7%;
}
@media only screen and (min-width: 1024px) {
  header .wave .img-box .ball {
    bottom: 19%;
    left: 65%;
    width: 5%;
  }
}
header .container {
  width: 100%;
  height: 100%;
  max-width: 1580px;
  margin: auto;
}
header .container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 3.5rem;
  font-family: "crunch chips";
  text-align: center;
  -webkit-text-stroke: 1px white;
}
@media only screen and (min-width: 1024px) {
  header .container h1 {
    -webkit-text-stroke: 3px white;
    font-size: 150px;
  }
}
header .container h1 span {
  color: #00A3A0;
}
header .container .gnb {
  display: flex;
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #c2c2c2;
  background-color: white;
  padding: 0 20px;
}
@media only screen and (min-width: 1024px) {
  header .container .gnb {
    margin: 24px;
    border: 3px solid black;
    border-radius: 50px;
    align-items: center;
  }
}
header .container .gnb h2 {
  font-size: 1.5rem;
  font-family: "crunch chips";
  color: #00A3A0;
}
header .container .gnb .menu {
  display: none;
}
@media only screen and (min-width: 1024px) {
  header .container .gnb .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
    font-size: 1rem;
    font-family: "recipekorea";
  }
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .main-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(#93E4FF 17%, #4AB2D4 34%, #007EA8 100%);
}
@media only screen and (min-width: 1024px) {
  main .main-bg {
    height: 100%;
    background: linear-gradient(#93E4FF 17%, #4AB2D4 34%, #007EA8 100%);
  }
}
main .main-bg .fishs {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
main .main-bg .fishs img {
  width: 30%;
}
main .main-bg .fishs .killer {
  position: absolute;
  top: 30%;
  left: 70%;
  width: 500px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .fishs .killer {
    top: 55%;
    left: 70%;
    width: 60%;
  }
}
main .main-bg .fishs .whale {
  position: absolute;
  top: 30%;
  left: -55%;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .fishs .whale {
    top: 20%;
    left: -20%;
    width: 40%;
  }
}
main .main-bg .fishs .fish1-box {
  position: absolute;
  top: 21%;
  left: 72%;
  width: 40%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .fishs .fish1-box {
    top: 25%;
    left: 75%;
    width: 17%;
  }
}
main .main-bg .fishs .fish2 {
  position: absolute;
  top: 36%;
  left: 55%;
  width: 26%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .fishs .fish2 {
    top: 64%;
    left: 20%;
    width: 10%;
  }
}
main .main-bg .fishs .fish3-box {
  position: absolute;
  top: 98%;
  left: 70%;
  width: 70%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .fishs .fish3-box {
    top: 75%;
    left: 78%;
    width: 20%;
  }
}
main .main-bg .fishs .fish3-box .fish3-1 {
  position: absolute;
  top: -60%;
  left: -25%;
}
main .main-bg .fishs .fish3-box .fish3-3 {
  position: absolute;
  top: 90%;
  left: -25%;
}
main .main-bg .fishs .fish4-box {
  position: absolute;
  top: 2%;
  left: 80%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .fishs .fish4-box {
    top: 2%;
    left: 75%;
    width: 10%;
  }
}
main .main-bg .fishs .fish4-box .fish4-1 {
  rotate: -40deg;
}
main .main-bg .fishs .fish4-box .fish4-2 {
  rotate: -35deg;
}
main .main-bg .buble {
  position: absolute;
  width: 100px;
  animation-name: buble-move;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
}
main .main-bg .buble0 {
  top: 0%;
  left: 60%;
  width: 50px;
  animation-name: buble-move0;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 7s;
}
@keyframes buble-move0 {
  0% {
    transform: translateY(550px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble1 {
  width: 80px;
  top: 4%;
  left: 6%;
  animation-name: buble-move1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
}
@keyframes buble-move1 {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(-100px);
  }
}
main .main-bg .buble2 {
  width: 100px;
  top: 11%;
  left: 70%;
  animation-name: buble-move2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
}
@keyframes buble-move2 {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble3 {
  width: 60px;
  top: 28.5%;
  left: 23%;
  animation-name: buble-move3;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 9s;
}
@keyframes buble-move3 {
  0% {
    transform: translateY(1400px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble4 {
  width: 20px;
  top: 30%;
  left: 30%;
  animation-name: buble-move4;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 13s;
}
@keyframes buble-move4 {
  0% {
    transform: translateY(1500px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble5 {
  width: 70px;
  top: 40%;
  left: 30%;
  animation-name: buble-move5;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 9s;
}
@keyframes buble-move5 {
  0% {
    transform: translateY(2000px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble6 {
  width: 30px;
  top: 49%;
  left: 60%;
  animation-name: buble-move6;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
}
@keyframes buble-move6 {
  0% {
    transform: translateY(2300px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble7 {
  width: 100px;
  top: 61%;
  left: 25%;
  animation-name: buble-move7;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
}
@keyframes buble-move7 {
  0% {
    transform: translateY(600px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble8 {
  width: 120px;
  top: 71%;
  left: 73%;
  z-index: 0;
  animation-name: buble-move8;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 18s;
}
@keyframes buble-move8 {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
main .main-bg .buble9 {
  width: 100px;
  top: 79%;
  left: 20%;
  z-index: 0;
  animation-name: buble-move9;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 9s;
}
@keyframes buble-move9 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-1800px);
  }
}
main .main-bg .buble10 {
  width: 100px;
  top: 85%;
  left: 20%;
  z-index: 0;
  animation-name: buble-move10;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 7s;
}
@keyframes buble-move10 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1000px);
  }
}
main .main-bg .buble11 {
  width: 100px;
  top: 90%;
  left: 60%;
  z-index: 0;
  animation-name: buble-move11;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 7s;
}
@keyframes buble-move11 {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-300px);
  }
}
main .main-bg .buble12 {
  width: 80px;
  top: 99%;
  left: 60%;
  z-index: 0;
  animation-name: buble-move12;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
}
@keyframes buble-move12 {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-500px);
  }
}
main .main-bg .buble13 {
  width: 30px;
  top: 96%;
  left: 30%;
  z-index: 0;
  animation-name: buble-move13;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 6s;
}
@keyframes buble-move13 {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(-1000px);
  }
}
main .main-bg .buble14 {
  width: 50px;
  top: 94%;
  left: 30%;
  z-index: 0;
  animation-name: buble-move14;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
}
@keyframes buble-move14 {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(-600px);
  }
}
main .main-bg .container {
  width: 100%;
  height: 100%;
  max-width: 1580px;
  margin: auto;
}
main .main-bg .container h2 {
  padding: 200px 0 50px 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: "pretendard";
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container h2 {
    text-align: left;
    font-size: 4.5rem;
    padding: 300px 0 140px 0;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
main .main-bg .container .about-me .picture {
  position: relative;
  width: 70%;
  margin: auto;
  border: 3px solid black;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}
main .main-bg .container .about-me .picture img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me .picture {
    width: 610px;
  }
}
main .main-bg .container .about-me .picture:before {
  content: "";
  display: block;
  padding-top: 100%;
}
main .main-bg .container .about-me .letter {
  width: 90%;
  height: 65vw;
  margin: 50px auto;
  border: 3px solid black;
  border-radius: 30px;
  background-color: white;
}
main .main-bg .container .about-me .letter .letter-title {
  font-size: 6vw;
  text-shadow: none;
  margin: 0;
  padding: 20px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me .letter .letter-title {
    padding-top: 80px;
    text-align: center;
    font-size: 40px;
  }
}
main .main-bg .container .about-me .letter p {
  text-align: center;
  font-size: 4.5vw;
  font-weight: 600;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me .letter p {
    padding: 20px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .about-me .letter {
    width: 730px;
    height: 490px;
  }
}
main .main-bg .container .skill .skill-box {
  width: 90%;
  margin: auto;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box {
    position: relative;
    height: 1000px;
  }
}
main .main-bg .container .skill .skill-box .skill-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item {
    position: absolute;
  }
}
main .main-bg .container .skill .skill-box .skill-item:hover .overlay {
  opacity: 1;
}
main .main-bg .container .skill .skill-box .skill-item .icon {
  width: 30vw; /* 이미지 크기 조절 */
  height: auto;
  display: block;
}
main .main-bg .container .skill .skill-box .skill-item .ai-img {
  width: 25vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .ai-img {
    width: 10vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .pr-img {
  width: 25vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .pr-img {
    width: 10vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .html-img {
  width: 23vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .html-img {
    width: 8vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .sass-img {
  width: 23vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .sass-img {
    width: 8vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .js-img {
  width: 23vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .js-img {
    width: 8vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .ps-img {
  width: 25vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .ps-img {
    width: 10vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .jquery-img {
  width: 21vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .jquery-img {
    width: 6vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .react-img {
  width: 21vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .react-img {
    width: 6vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .git-img {
  width: 21vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .git-img {
    width: 6vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .css-img {
  width: 23vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .css-img {
    width: 8vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .figma-img {
  width: 25vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .figma-img {
    width: 10vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .ae-img {
  width: 25vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .skill-item .ae-img {
    width: 10vw;
  }
}
main .main-bg .container .skill .skill-box .skill-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* 검은색 반투명 배경 */
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 50%;
}
main .main-bg .container .skill .skill-box .skill-item .description-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000; /* z-index 추가 */
  display: none;
}
main .main-bg .container .skill .skill-box .skill-item .hidden {
  display: none;
}
main .main-bg .container .skill .skill-box .skill-item .close-btn {
  cursor: pointer;
}
main .main-bg .container .skill .skill-box .ai {
  margin-top: 20%;
  margin-left: 12%;
  margin-right: 0vh;
  margin-bottom: 20%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .ai {
    margin: 0;
    top: 10%;
    left: 67%;
  }
}
main .main-bg .container .skill .skill-box .pr {
  margin-top: 10%;
  margin-left: 8%;
  margin-right: 0vh;
  margin-bottom: 0vh;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .pr {
    margin: 0;
    top: 0px;
    left: 0px;
  }
}
main .main-bg .container .skill .skill-box .html {
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 10%;
  margin-bottom: 20%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .html {
    margin: 0;
    top: 80%;
    left: 50%;
  }
}
main .main-bg .container .skill .skill-box .sass {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 0vh;
  margin-bottom: 10%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .sass {
    margin: 0;
    top: 40%;
    left: 40%;
  }
}
main .main-bg .container .skill .skill-box .js {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 0vh;
  margin-bottom: 0%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .js {
    margin: 0;
    top: 70%;
    left: 10%;
  }
}
main .main-bg .container .skill .skill-box .ps {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 0vh;
  margin-bottom: 10%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .ps {
    margin: 0;
    top: 60%;
    left: 30%;
  }
}
main .main-bg .container .skill .skill-box .jquery {
  margin-top: 20%;
  margin-left: 30%;
  margin-right: 8%;
  margin-bottom: 20%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .jquery {
    margin: 0;
    top: 80%;
    left: 80%;
  }
}
main .main-bg .container .skill .skill-box .react {
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 10%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .react {
    margin: 0;
    top: 35%;
    left: 20%;
  }
}
main .main-bg .container .skill .skill-box .git {
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 10%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .git {
    margin: 0;
    top: 25%;
    left: 55%;
  }
}
main .main-bg .container .skill .skill-box .css {
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .css {
    margin: 0;
    top: 50%;
    left: 65%;
  }
}
main .main-bg .container .skill .skill-box .figma {
  margin-top: 0%;
  margin-left: 50%;
  margin-right: 0%;
  margin-bottom: 10%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .figma {
    margin: 0;
    top: 0%;
    left: 85%;
  }
}
main .main-bg .container .skill .skill-box .ae {
  margin-top: 0%;
  margin-left: 30%;
  margin-right: 0%;
  margin-bottom: 10%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .skill .skill-box .ae {
    margin: 0;
    top: 10%;
    left: 30%;
  }
}
main .main-bg .container .portfolio {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio {
    width: 100%;
    height: 100%;
  }
}
main .main-bg .container .portfolio .box {
  position: relative;
  width: 100%;
  border: 3px solid black;
  border-radius: 20px;
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .box {
    width: 100%;
  }
}
main .main-bg .container .portfolio .box::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
main .main-bg .container .portfolio .inner-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
main .main-bg .container .portfolio .po-box {
  width: 100%;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box {
    width: 100%;
    padding: 0;
  }
}
main .main-bg .container .portfolio .po-box .box-txt {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 5px;
  z-index: 10;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .box-txt {
    padding-left: 20px;
    height: 150px;
    text-align: left;
  }
}
main .main-bg .container .portfolio .po-box .box-txt h3 {
  margin-bottom: 3px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "pretendard";
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .box-txt h3 {
    margin-top: 20px;
    height: 50px;
    text-align: left;
    font-size: 32px;
  }
}
main .main-bg .container .portfolio .po-box .box-txt p {
  font-size: 0.8rem;
  font-weight: 350;
  font-family: "pretendard";
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .box-txt p {
    font-size: 1rem;
  }
}
main .main-bg .container .portfolio .po-box .box-button {
  display: flex;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .box-button {
    position: absolute;
    width: 30%;
    margin: auto;
    z-index: 20;
  }
}
main .main-bg .container .portfolio .po-box .box-button button {
  width: 50%;
  height: 8vw;
  line-height: 8vw;
  margin: 20px 2px 80px 2px;
  font-size: 1.3vmax;
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  border-radius: 6px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .box-button button {
    font-size: 1rem;
    height: 50px;
    line-height: 50px;
  }
}
main .main-bg .container .portfolio .po-box .box-button button::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b1-b2 .b1 {
    position: relative;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b1-b2 .b1 .box1 {
    width: 600px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b1-b2 .box-button1 {
    top: 480px;
    left: 290px;
    z-index: 100;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b1-b2 .b2 {
    position: relative;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b1-b2 .b2 .box2 {
    width: 970px;
    height: 600px;
  }
}
main .main-bg .container .portfolio .po-box .b1-b2 .b2 .inner-box2 img {
  animation-name: po-move;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes po-move {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-83%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media only screen and (min-width: 1024px) {
  @keyframes po-move {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-90%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b1-b2 .box-button2 {
    top: 480px;
    left: 660px;
    z-index: 100;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b3-b4 .b3 {
    position: relative;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b3-b4 .b3 .box3 {
    width: 970px;
    height: 600px;
    right: 370px;
  }
}
main .main-bg .container .portfolio .po-box .b3-b4 .b3 .inner-box3 img {
  animation-name: po-move2;
  animation-duration: 25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes po-move2 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-68%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media only screen and (min-width: 1024px) {
  @keyframes po-move2 {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-80%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b3-b4 .box-button3 {
    top: 480px;
    left: 290px;
    z-index: 100;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b3-b4 .b4 {
    position: relative;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b3-b4 .b4 .box4 {
    width: 600px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .po-box .b3-b4 .box-button4 {
    top: 480px;
    left: 290px;
    z-index: 100;
  }
}
main .main-bg .container .portfolio .b5-b6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0px 0 20px;
  width: 175%;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .b5-b6 {
    margin: 10px 0 0 0;
    height: 1600px;
  }
}
main .main-bg .container .portfolio .b5-b6 .b5 {
  margin-right: 10px;
}
main .main-bg .container .portfolio .b5-b6 .b5 .box5 {
  width: 100%;
  height: 50%;
  border: 3px solid black;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
main .main-bg .container .portfolio .b5-b6 .b5 .box5 video {
  width: 100%;
  height: 100%;
}
main .main-bg .container .portfolio .b5-b6 .b5 .box5::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
main .main-bg .container .portfolio .b5-b6 .b5 .inner-box5 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
main .main-bg .container .portfolio .b5-b6 .b5 h3 {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 6px;
  font-weight: bold;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .b5-b6 .b5 h3 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 32px;
  }
}
main .main-bg .container .portfolio .b5-b6 .b5 p {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .b5-b6 .b5 p {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}
main .main-bg .container .portfolio .b5-b6 .b6 .box6 {
  width: 100%;
  height: 50%;
  border: 3px solid black;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
main .main-bg .container .portfolio .b5-b6 .b6 .box6 video {
  width: 100%;
  height: 100%;
}
main .main-bg .container .portfolio .b5-b6 .b6 .box6::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
main .main-bg .container .portfolio .b5-b6 .b6 .inner-box6 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
main .main-bg .container .portfolio .b5-b6 .b6 h3 {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 6px;
  font-weight: bold;
  font-weight: bold;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .b5-b6 .b6 h3 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 32px;
  }
}
main .main-bg .container .portfolio .b5-b6 .b6 p {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .b5-b6 .b6 p {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}
main .main-bg .container .portfolio .design .d-box {
  width: 35vw;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .d-box {
    width: 20vw;
  }
}
main .main-bg .container .portfolio .design p {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "pretendard";
  margin-top: 20px;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design p {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
  }
}
main .main-bg .container .portfolio .design .ds {
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  border: 1px solid black;
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .ds {
    width: 20vw;
    height: 20vw;
  }
}
main .main-bg .container .portfolio .design .ds::after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
main .main-bg .container .portfolio .design .banner-box {
  cursor: pointer;
  margin-left: 15%;
}
main .main-bg .container .portfolio .design .banner-box .banner {
  overflow: hidden;
  background-size: cover;
  background-position-y: -50px;
}
main .main-bg .container .portfolio .design .banner-box .banner img:hover {
  animation-name: detail;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail {
  0% {
    scale: 100%;
  }
  100% {
    scale: 120%;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .banner-box {
    margin-left: 5%;
  }
}
main .main-bg .container .portfolio .design .detail-box {
  margin-left: 50%;
}
main .main-bg .container .portfolio .design .detail-box .detail {
  overflow: hidden;
  background-size: cover;
  background-position-y: -50px;
}
main .main-bg .container .portfolio .design .detail-box .detail img:hover {
  animation-name: detail;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail {
  0% {
    scale: 100%;
  }
  100% {
    scale: 102%;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .detail-box {
    transform: translateY(-200px);
    margin-left: 38%;
  }
}
main .main-bg .container .portfolio .design .package-box {
  margin-left: 15%;
}
main .main-bg .container .portfolio .design .package-box .package {
  overflow: hidden;
  background-size: cover;
}
main .main-bg .container .portfolio .design .package-box .package img:hover {
  animation-name: detail;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail {
  0% {
    scale: 100%;
  }
  100% {
    scale: 106%;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .package-box {
    transform: translateY(-350px);
    margin-left: 70%;
  }
}
main .main-bg .container .portfolio .design .logo-box {
  margin-left: 50%;
}
main .main-bg .container .portfolio .design .logo-box .logo {
  overflow: hidden;
  background-size: cover;
}
main .main-bg .container .portfolio .design .logo-box .logo img:hover {
  animation-name: detail;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail {
  0% {
    scale: 100%;
  }
  100% {
    scale: 106%;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .logo-box {
    transform: translateY(-450px);
    margin-left: 40%;
  }
}
main .main-bg .container .portfolio .design .mobile-box {
  margin-left: 15%;
}
main .main-bg .container .portfolio .design .mobile-box .mobile {
  overflow: hidden;
  background-size: cover;
}
main .main-bg .container .portfolio .design .mobile-box .mobile img:hover {
  animation-name: detail;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail {
  0% {
    scale: 100%;
  }
  100% {
    scale: 106%;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .mobile-box {
    transform: translateY(-550px);
    margin-left: 10%;
  }
}
main .main-bg .container .portfolio .design .info-box {
  margin-left: 50%;
}
main .main-bg .container .portfolio .design .info-box .info {
  overflow: hidden;
  background-size: cover;
}
main .main-bg .container .portfolio .design .info-box .info img:hover {
  animation-name: detail;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes detail {
  0% {
    scale: 100%;
  }
  100% {
    scale: 106%;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-bg .container .portfolio .design .info-box {
    transform: translateY(-550px);
    margin-left: 50%;
  }
}
main .bgbgbg {
  position: relative;
  z-index: 0;
}
main .bgbgbg .eye1 {
  position: absolute;
  width: 10vw;
  bottom: 11%;
  left: 32%;
  animation-name: eye1;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 1024px) {
  main .bgbgbg .eye1 {
    bottom: 13%;
    left: 35%;
    width: 6vw;
  }
}
@keyframes eye1 {
  0% {
    scale: 0%;
    rotate: 0deg;
    opacity: 0;
  }
  50% {
    scale: 100%;
    rotate: 20deg;
    opacity: 100;
  }
  100% {
    scale: 0%;
    rotate: 0deg;
    opacity: 0;
  }
}
main .bgbgbg .eye2 {
  position: absolute;
  width: 10vw;
  bottom: 11%;
  left: 57%;
  animation-name: eye2;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 1024px) {
  main .bgbgbg .eye2 {
    width: 6vw;
    bottom: 13.5%;
    left: 58%;
  }
}
@keyframes eye2 {
  0% {
    scale: 0%;
    rotate: 0deg;
    opacity: 0;
  }
  50% {
    scale: 100%;
    rotate: -20deg;
    opacity: 100;
  }
  100% {
    scale: 0%;
    rotate: 0deg;
    opacity: 0;
  }
}
main .bgbgbg .bg-img-box .sea {
  width: 100%;
  height: 100%;
}
main .bgbgbg .bgbgbg-box {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%);
  color: white;
}
main .bgbgbg .bgbgbg-box h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 8vw;
  font-family: "pretendard";
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
  color: black;
}
@media only screen and (min-width: 1024px) {
  main .bgbgbg .bgbgbg-box h2 {
    font-size: 5rem;
  }
}
main .bgbgbg .bgbgbg-box p {
  font-size: 3vw;
}
@media only screen and (min-width: 1024px) {
  main .bgbgbg .bgbgbg-box p {
    font-size: 3rem;
  }
}/*# sourceMappingURL=ocean.css.map */