* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-size: 1rem;
    color: black;
}

ul,ol,li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

strong {
    display: block;
}

header,
nav,
main,
article,
section,
aside,
footer {
    display: block;
}

@font-face {
    font-family: 'recipekorea';
    src: local('recipekorea'), local('crunch chips'),
         url('../font/Recipekorea 레코체 FONT.otf') format('opentype'),
         url('../font/Recipekorea 레코체 FONT.ttf') format('truetype'),
         url('../font/Crunch Chips-3D.otf') format('opentype'),
         url('../font/Crunch Chips.otf') format('opentype');
}


