* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    color: black;
}

ul,ol,li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

strong {
    display: block;
}

header,
nav,
main,
article,
section,
aside,
footer {
    display: block;
}

@font-face {
    font-family: 'recipekorea';
    src: local('recipekorea'), 
         url('../font/Recipekorea 레코체 FONT.otf') format('opentype'),
         url('../font/Recipekorea 레코체 FONT.ttf') format('truetype'),
       
}

@font-face {
    font-family: 'Pretendard';
    src:local('Pretendard'),
      
        // url('../font/Pretendard-Light.otf') format('opentype'),
        url('../font/Pretendard-Medium.otf') format('opentype'),
        url('../font/Pretendard-Regular.otf') format('opentype'),
        url('../font/Pretendard-SemiBold.otf') format('opentype'),

}

@font-face {
    font-family: 'crunch chips';
    src:local('crunch chips'),
        url('../font/Crunch Chips.otf') format('opentype');
}



@font-face {
    font-family: 'impact';
    src:local('impact'),
        url('../font/impact.ttf') format('ttf');
}

@font-face {
    font-family: 'Copperplate Gothic Light';
    src:local('Copperplate Gothic Lightt'),
        url('../font/copperplate-gothic-light.ttf') format('ttf');
}

