* {
    box-sizing: border-box;

    /* 드래그나 더블클릭 시에 텍스트가 선택이 되지 않도록 설정 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* 너비 등의 레이아웃에 관여하지 않는 테두리 제거 */
    outline: 0;
    /* 마진 패딩 제거*/
    margin: 0;
    padding: 0;
    /* IOS 웹킷에서 터치 시에 등장하는 하이라이트를 제거하기 위함 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-size: 1rem;
    color: black;
}

ul,ol,li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

strong {
    display: block;
}

header,
nav,
main,
article,
section,
aside,
footer {
    display: block;
}